namespace ConsoleApp6
{

    class Program
    {
        // Сысоев Андрей
        // Задание 2
        static void Main(string[] args)

        {
            Hw2();
            Console.ReadKey();
            Hw1();
            Console.ReadKey();
            Hw3();
            Console.ReadKey();
            Hw4();
            Console.ReadKey();
            Hw7();
            Console.ReadKey();
            Hw6();
            Console.ReadKey();

        }
        static void Hw2()
        {
            Console.Write("Введите число : ");
            int num = int.Parse(Console.ReadLine());
            int i = 0;
            while (num > 0)
            {
                i++;
                num /= 10;
            }
            Console.WriteLine("Количество цифр введенного числа : {0}", i);
            Console.ReadKey();

        }


        // Задание 1
        static void Hw1()
        {
            Console.Write("Введите первое число: ");
            int firstNumber = int.Parse(Console.ReadLine());
            Console.Write("Введите второе число: ");
            int secondNumber = int.Parse(Console.ReadLine());
            Console.Write("Введите третье число: ");
            int thirdNumber = int.Parse(Console.ReadLine());
            Console.WriteLine($"Минимальное число: { MinimalScore(firstNumber, secondNumber, thirdNumber)}");
            Console.ReadKey();
        }
        public static int MinimalScore(int a, int b, int c)
        {
            int score;
            if (a < b && a < c)
            {
                score = a;
            }
            else if (b < a && b < c)
            {
                score = b;
            }
            else
            {
                score = c;
            }
            return score;
        }

        //Задание 3
        static void Hw3()
        {
            int sum = 0;
            int num = 0;
            do
            {
                num = int.Parse(Console.ReadLine());
                if (num > 0 && num % 2 == 1)
                    sum += num;

            } while (num != 0);

            Console.WriteLine("Sum: " + sum);
        }
        // задание 4
        static void Hw4()
        {

            string login = "root";
            string password = "GeekBrains";

            int count = 0;
            do
            {
                Console.WriteLine("\nВведите логин: ");
                string checkLogin = Console.ReadLine();

                Console.WriteLine("Введите пароль: ");
                string checkPassword = Console.ReadLine();

                if (login == checkLogin && password == checkPassword)
                {

                    Console.WriteLine("Добро пожаловать");
                    Console.ReadLine();
                    break;
                }
                Console.WriteLine("Неверно введен логин или пароль");
                Console.ReadLine();
                ++count;
            } while (count < 4);


        }
        // задание 6
        static void Hw6()
        { }

        public class GoodDigitsCounter
        {
            public static DateTime start;
            public static void GDC()
            {

                int goodNumCount = 0;
                int minNum = 1;
                int maxNum = 1000000;
                int temp;
                int testNum;

                for (int num = minNum; num <= maxNum; num++)
                {
                    start = DateTime.Now;
                    temp = 0;
                    testNum = num;
                    while (testNum != 0)
                    {
                        temp += testNum % 10;
                        testNum /= 10;
                    }
                    if (num % temp == 0)
                    {
                        goodNumCount++;
                    }
                }
                Console.WriteLine(goodNumCount);
                Console.WriteLine(DateTime.Now - start);
                Console.ReadLine();
            }

        }

        // задание 7
        static void Hw7()
        { }
        class Recursion
        {
            public static void RecursionMethod(int a, int b)
            {
                Console.WriteLine(a);
                if (a < b) RecursionMethod(a + 1, b);
            }
            public static int RecursionMethodSum(int a, int b)
            {
                return (a == b) ? b : a + RecursionMethodSum(a + 1, b);
            }
            
        }
    }
}

        
